<h2>My Heroes</h2>
<ul class="heroes">
  <!-- 
    *ngFor is a repeater directive. It repeats the host element for each
    element in a list. 

    We the (click) - we are introduced to event binding.

    Here when a user clicks on any of the generated <li> elements, we want to execute the onSelect(hero) function.

    So we call the onSelect function with our single hero object passed
    in.
  -->
  <li *ngFor="let hero of heroes" [class.selected]="hero === selected_hero" (click)="onSelect(hero)">
    <span class="badge">{{ hero.id }}:</span> {{ hero.name }}
  </li>
</ul>

<!--
  Here with the use of the ngIf directive we check if we have any value
  stored in our selected_hero variable.

  If we do we display the info within this div. If we don't this element
  will not be displayed.
-->
<div *ngIf="selected_hero">

  <!--
  Because our hero property is an instance of our class Hero, when we
  call our property it will return an object instead of a name.

  {{ hero }} // returns [Object Object] in console.

  So we need to change how we will return our name.
  

  - The "|"" is a pipe operator. t
  - The keyword uppercase activates the built-in UpperCasePipe.

  Angular ships many built in pipes.
-->
  <h2>{{selected_hero.name}} Details</h2>
  <div>
    <span>id: </span>{{selected_hero.id}}
  </div>
  <label for="">name:
    <!-- 
      Note that we want to live edit/update the name property of our
      hero.
      This is two way data binding that is enabled by our ngModel.

      Although the ngModel is a valid Angular directive,f it is not available by default.

      It belongs to the optional FormsModule and you must opt-in to using
      it.

      If you don't import the FormsModule you encounter the following
      error.

    "Uncaught Error: Template parse errors: Can't bind to 'ngModel' since
    it isn't a known property of 'input'."
  -->
    <input [(ngModel)]="selected_hero.name" placeholder="name">
  </label>
</div>

<toh-hero-detail></toh-hero-detail>
