<div class="container">
  <h2 class="text-center">My Heroes</h2>
  <div class="row mt-5">
    <div class="col-6">
      <ul class="heroes">
        <!-- 
        *ngFor is a repeater directive. It repeats the host element for each element in a list. 

        We the (click) - we are introduced to event binding.

        Here when a user clicks on any of the generated <li> elements, we want to execute the onSelect(hero) function.

        So we call the onSelect function with our single hero object passed in.
      -->
        <li *ngFor="let hero of heroes" [class.selected]="hero === selected_hero" (click)="onSelect(hero)">
          <span class="badge">{{ hero.id }}:</span> {{ hero.name }}
        </li>
      </ul>
      <!-- 
        It is important to note that this selected_hero is coming for the selected_hero property that we have in hero-component.ts. 
        
        So what is happening here is that after we have selected a hero.
        That value is stored in the selected_hero then it will be passed
        into this hero-detail component as an input so that we can access the value within that component.
      -->

    </div>

    <!-- 
      Maybe later we can experiment with each component nested within the
      main component in their own column instead of the way it is now.
    -->
    <div class="col-6">
      <!-- 
        Note that whatever we will call our Input property binding var
        here is what we will have to declare it in our child component. 
        <toh-hero-detail [is_selected_hero]="selected_hero"></toh-hero-detail>
      -->
    </div>
  </div>
</div>
